.darkveil-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  pointer-events: none;
}

.darkveil-overlay {
  position: relative;
  z-index: 1;
}
